<link rel="stylesheet" type="text/css" href="/css/header.css" />
<input
  type="checkbox"
  id="dark-theme"
  onclick="localStorage.setItem('dark-theme', `${this.checked}`)"
/>
<script>
  document.getElementById("dark-theme").checked =
    JSON.parse(localStorage.getItem("dark-theme")) || false;
</script>
<header>
  <h1><%= locals.headerTitle %></h1>
  <% if (locals.app) { %>
  <nav>
    <div class="find-reference_input">
      <input
        list="find-reference_options"
        type="search"
        placeholder="Quick Search"
      />
      <img alt="search icon" src="/search-icon.png" id="search-button" />
    </div>
    <datalist id="find-reference_options">
      <option value="first"></option>
      <option value="second"></option>
    </datalist>
  </nav>

  <% } else { %>
  <style>
    header {
      padding-right: calc(70px * var(--scale-03-below-650px));
    }
    label[for="dark-theme"] {
      margin-bottom: 0;
    }
    @media (max-width: 650px) {
      label[for="dark-theme"] {
        font-size: 18px;
        margin-bottom: 0;
      }
    }
  </style>
  <label for="dark-theme">Change theme</label>
  <% } %>
</header>
