<link rel="stylesheet" href="/sidebar.css" />
<div class="group-aside-button">
  <label>
    <input type="checkbox" id="toggle-group-aside" />
    <div></div>
    <div></div>
    <div></div>
  </label>
</div>
<aside>
  <label for="dark-theme">Change theme</label>
  <% if (locals.app) { %>
  <label id="addNewLinkButton" for="createLinkState"> Add new link </label>
  <fieldset>
    <legend>Group filter <button>+</button></legend>
    <label
      ><input checked type="radio" name="group" data-group="All" />
      <span>All</span></label
    >
    <label
      ><input type="radio" name="group" data-group="Ungrouped" /><span
        >Ungrouped</span
      >
    </label>
  </fieldset>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
  <% if (locals.app === "synchronized"){ %>
  <a href="/users/<%= userId %>"><%= username %></a>
  <% } %> <% } %>
</aside>
