<link rel="stylesheet" href="/app.css" />
<script defer src="/src/client/main.ts"></script>
<% if (app === "synchronized") { %>
<p style="display: none"><%= linksStorage %></p>
<p style="display: none"><%= allFilterGroups %></p>
<script>
  sessionStorage.setItem(
    "db",
    document.querySelector("p:nth-of-type(1)").innerHTML
  );
  sessionStorage.setItem(
    "allFilterGroups",
    document.querySelector("p:nth-of-type(2)").innerHTML
  );
  document.querySelector("p:nth-of-type(1)").remove();
  document.querySelector("p:nth-of-type(1)").remove();
</script>
<% } %><%- include('./partials/sidebar.ejs') %>
<main data-display="<%= app %>"></main>
<input type="radio" name="link-settings" id="createLinkState" />
<section>
  <div class="configure-link">
    <input id="linkName" type="text" placeholder="Name" />
    <textarea id="linkURL" placeholder="URL"></textarea>
    <input
      autocomplete="off"
      type="search"
      list="linkGroupSelect"
      id="linkGroupInput"
    />
    <datalist id="linkGroupSelect">
      <option value="Ungrouped">Ungrouped</option>
    </datalist>
    <button id="edit-link-button"></button>
    <button id="delete-link-button">Delete</button>
  </div>
</section>
