<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      input[type="checkbox"] {
        display: none;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/header.ejs') %> <%-
    include('./partials/sidebar.ejs') %>
    <main>
      <h1>Sign in</h1>
      <form action="/sign-in" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Submit</button>
      </form>
      <details>
        <summary>
          <a href="/register">Don't have an account? Register!</a>
        </summary>
        <p>Some text</p>
      </details>
      <details>
        <summary><a href="/local-app">Skip connecting account</a></summary>
        <p>
          This will skip authorization, but will take away your ability of
          connecting to your data on any device
        </p>
      </details>
    </main>
  </body>
</html>
