<link rel="stylesheet" href="/app.css" />
<script defer type="module" src="/main.js"></script>
<%- include('./partials/sidebar.ejs') %>
<main data-display="<%= app %>"></main>
<input type="radio" name="link-settings" id="createLinkState" />
<section>
  <div class="configure-link">
    <input id="descriptionInput" type="text" placeholder="Name" />
    <textarea id="uriInput" placeholder="URL"></textarea>
    <input
      autocomplete="off"
      type="search"
      list="groupDatalist"
      id="groupInput"
    />
    <datalist id="groupDatalist">
      <option value="Ungrouped">Ungrouped</option>
    </datalist>
    <button id="edit_add-link-button"></button>
    <button id="delete-link-button">Delete</button>
  </div>
</section>
