:root {
  --scale-08-below-650px: 1;
  --scale-03-below-650px: 1;
}
@media (max-width: 650px) {
  :root {
    --scale-08-below-650px: 0.8;
    --scale-03-below-650px: 0.3;
  }
}
aside {
  overflow-y: auto;
  font-size: 1.6em;
  transition: 500ms translate;
  translate: 100% 0;
  top: 0;
  right: 0;
  position: fixed;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 70px 30px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  > a {
    margin-top: 10px;
  }
}
#dark-theme:checked ~ aside > a {
  color: black;
  background: white;
  border-color: black;
}

aside > a {
  font-size: 21px;
  margin-bottom: 30px;
  padding: 8px 8px;
  background: black;
  border-radius: 10px;
  border: 2px solid;
  cursor: pointer;
  border-color: white;
  font-weight: bold;
  transition: 500ms filter;
  &:hover {
    filter: invert(1);
  }
}
#toggle-group-aside:checked {
  z-index: 1;
  ~ div {
    border: none;
    width: 40px * 0.8;
    height: 8px * 0.8;
    &:nth-of-type(1) {
      rotate: 45deg;
    }
    &:nth-of-type(2) {
      width: 0;
    }
    &:nth-of-type(3) {
      rotate: -45deg;
    }
  }
}
.group-aside-button {
  position: fixed;
  top: calc(20px * var(--scale-03-below-650px));
  right: 10px;
  z-index: 2;
  label {
    transition: scale 500ms;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  div {
    transform-origin: left center;
    transition: width 500ms, rotate 500ms;
    width: calc(40px * var(--scale-08-below-650px));
    border: 1px solid black;
    height: calc(8px * var(--scale-08-below-650px));
    background-color: white;
  }
}
.group-aside-button:has(#toggle-group-aside:checked) + aside {
  translate: 0% 0;
}
label[for="dark-theme"] {
  margin-bottom: 30px;
}
